* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", "Inter", sans-serif;
    font-size: 14px;
    min-height: 0;
}

@keyframes pulse {
    0% { 
        background-color: alpha({{colors.surface.default.hex}}, 0.0); 
        color: {{colors.primary.default.hex}};
        box-shadow: none;
    }
    50% { 
        background-color: {{colors.primary.default.hex}}; 
        color: {{colors.surface.default.hex}};
        box-shadow: 0 0 10px alpha({{colors.primary.default.hex}}, 0.5);
    }
    100% { 
        background-color: alpha({{colors.surface.default.hex}}, 0.0); 
        color: {{colors.primary.default.hex}};
        box-shadow: none;
    }
}

window#waybar {
    background-color: transparent;
    border-bottom: none;
    color: {{colors.primary.default.hex}};
}

#workspaces {
    background-color: alpha({{colors.surface.default.hex}}, 0.7);
    margin: 5px;
    margin-left: 10px;
    border-radius: 12px;
    border-bottom: 2px solid {{colors.primary.default.hex}};
}

#workspaces button {
    padding: 0;
    margin: 3px 5px;
    min-width: 28px;
    min-height: 28px;
    color: {{colors.primary.default.hex}};
    background-color: transparent;
    border-radius: 50%;
    /* Transición suave e igual a la lógica de la animación */
    transition: all 0.8s ease-in-out;
    background-image: none;
    border: none;
    box-shadow: none;
    outline: none;
}

#workspaces button.active {
    animation: pulse 4s ease-in-out infinite;
}

#workspaces button:not(.active):hover {
    background-color: {{colors.primary.default.hex}}; 
    color: {{colors.surface.default.hex}};
    box-shadow: 0 0 10px alpha({{colors.primary.default.hex}}, 0.5);
    background-image: none;
    border: none;
    outline: none;
}


#window, #clock, #tray, #pulseaudio, #network, #power-profiles-daemon, #custom-gpu, #cpu, #memory, #temperature, #custom-waypaper, #custom-clipman, #custom-notifications, #language {
    background-color: alpha({{colors.surface.default.hex}}, 0.7);
    border-bottom: 2px solid {{colors.primary.default.hex}};
    margin: 5px;
    padding: 0 15px;
    border-radius: 12px;
    color: {{colors.primary.default.hex}};
    font-weight: bold;
    transition: all 0.3s ease;
}

#custom-sunset {
    background-color: alpha({{colors.surface.default.hex}}, 0.7);
    margin: 5px;
    padding: 0;
    border-radius: 50%;
    color: {{colors.primary.default.hex}};
    font-weight: bold;
    min-width: 35px;
    border-bottom: 2px solid {{colors.primary.default.hex}};
}

#custom-sunset.night {
    color: {{colors.secondary.default.hex}};
    border-bottom: 2px solid {{colors.secondary.default.hex}};
}

tooltip {
    background-color: alpha({{colors.surface.default.hex}}, 0.8);
    border: 1px solid {{colors.primary.default.hex}};
    border-radius: 12px;
    padding: 10px;
}

tooltip label {
    color: {{colors.primary.default.hex}};
    font-size: 13px;
    padding: 5px;
}
