@keyframes pulse {
    0% { 
        border-color: alpha(#101415, 0.8); 
        box-shadow: 0 0 2px alpha(#76d4e4, 0.1);
    }
    50% { 
        border-color: #76d4e4; 
        box-shadow: 0 0 15px alpha(#76d4e4, 0.6);
    }
    100% { 
        border-color: alpha(#101415, 0.8); 
        box-shadow: 0 0 2px alpha(#76d4e4, 0.1);
    }
}

window {
    margin: 0px;
    padding: 20px;
    border: 3px solid #76d4e4;
    background-color: alpha(#101415, 0.7);
    border-radius: 20px;
    font-family: "JetBrainsMono Nerd Font", "Inter", sans-serif;
    animation: pulse 4s ease-in-out infinite;
}

#outer-box {
    margin: 10px;
}

#input {
    margin: 10px;
    border: 1px solid #aacdd3;
    color: #76d4e4;
    background-color: alpha(#aacdd3, 0.1);
    border-radius: 10px;
    padding: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: #76d4e4;
    font-size: 14px;
}

#entry:selected {
    background-color: #76d4e4;
    border-radius: 10px;
}

#entry:selected #text {
    color: #101415;
    font-weight: bold;
}
