/* Animación de pulso eliminada */

window {
    margin: 0px;
    border: none;
    background-color: transparent;
}

#text {
    color: {{colors.primary.default.hex}};
    font-size: 30px;
    font-weight: bold;
}

#entry {
    margin: 15px;
    padding: 65px 0px 65px 60px;
    border-radius: 20px;
    background-color: alpha({{colors.surface.default.hex}}, 0.7);
    border: 2px solid {{colors.primary.default.hex}};
}

#entry:selected {
    background-color: {{colors.primary.default.hex}};
    border: 3px solid {{colors.primary.default.hex}};
}

#entry:selected #text {
    color: {{colors.surface.default.hex}};
}
