/* Animación de pulso eliminada para un entorno minimalista */

window {
    margin: 0px;
    border: 2px solid {{colors.primary.default.hex}};
    background-color: alpha({{colors.surface.default.hex}}, 0.7);
    border-radius: 15px;
    font-family: "JetBrainsMono Nerd Font", "Inter", sans-serif;
}

#outer-box {
    margin: 30px;
}

#input {
    margin: 10px;
    border: 1px solid {{colors.secondary.default.hex}};
    color: {{colors.primary.default.hex}};
    background-color: alpha({{colors.secondary.default.hex}}, 0.1);
    border-radius: 10px;
    padding: 10px;
}

#text {
    margin: 5px;
    border: none;
    color: {{colors.primary.default.hex}};
}

#entry:selected {
    background-color: {{colors.primary.default.hex}};
    border-radius: 10px;
}

#entry:selected #text {
    color: {{colors.surface.default.hex}};
    font-weight: bold;
}
